aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
frozenlist
gitdb
GitPython
idna
markdown-it-py
mdurl
multidict
openai
prompt-toolkit
Pygments
requests
rich
smmap
tqdm
urllib3
wcwidth
yarl
pytest
tiktoken
configargparse
PyYAML
backoff
networkx
diskcache
numpy
scipy
jsonschema
sounddevice
soundfile
